{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://models.lex.amazonaws.com/"
        },
        {
            "url": "http://models.lex.amazonaws.com/"
        }
    ],
    "x-hasEquivalentPaths": true,
    "info": {
        "contact": {
            "email": "mike.ralphson@gmail.com",
            "name": "Mike Ralphson",
            "url": "https://github.com/mermade/aws2openapi",
            "x-twitter": "PermittedSoc"
        },
        "description": "<fullname>Amazon Lex Build-Time Actions</fullname> <p> Amazon Lex is an AWS service for building conversational voice and text interfaces. Use these actions to create, update, and delete conversational bots for new and existing client applications. </p>",
        "license": {
            "name": "Apache 2.0 License",
            "url": "http://www.apache.org/licenses/"
        },
        "termsOfService": "https://aws.amazon.com/service-terms/",
        "title": "Amazon Lex Model Building Service",
        "version": "2017-04-19",
        "x-apiClientRegistration": {
            "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
        },
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "backgroundColor": "#FFFFFF",
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
        },
        "x-origin": [
            {
                "contentType": "application/json",
                "converter": {
                    "url": "https://github.com/mermade/aws2openapi",
                    "version": "1.0.0"
                },
                "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/lex-models-2017-04-19.normal.json",
                "x-apisguru-direct": true
            }
        ],
        "x-preferred": true,
        "x-providerName": "amazonaws.com",
        "x-release": "v4",
        "x-serviceName": "lex-models"
    },
    "externalDocs": {
        "description": "Amazon Web Services documentation",
        "url": "https://docs.aws.amazon.com/lex/"
    },
    "security": [
        {
            "hmac": []
        }
    ],
    "paths": {
        "/bots/": {
            "get": {
                "description": "<p>Returns bot information as follows: </p> <ul> <li> <p>If you provide the <code>nameContains</code> field, the response includes information for the <code>$LATEST</code> version of all bots whose name contains the specified string.</p> </li> <li> <p>If you don't specify the <code>nameContains</code> field, the operation returns information about the <code>$LATEST</code> version of all of your bots.</p> </li> </ul> <p>This operation requires permission for the <code>lex:GetBots</code> action.</p>",
                "operationId": "GetBots",
                "parameters": [
                    {
                        "description": "Pagination limit",
                        "in": "query",
                        "name": "maxResults",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Pagination token",
                        "in": "query",
                        "name": "nextToken",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "example": {
                                        "bots": [
                                            {
                                                "createdDate": 1494360160.133,
                                                "description": "Orders a pizza from a local pizzeria.",
                                                "lastUpdatedDate": 1494360160.133,
                                                "name": "DocOrderPizzaBot",
                                                "status": "NOT_BUILT",
                                                "version": "$LATEST"
                                            }
                                        ]
                                    },
                                    "properties": {
                                        "bots": {
                                            "description": "An array of <code>botMetadata</code> objects, with one entry for each bot. ",
                                            "items": {
                                                "description": "Provides information about a bot. .",
                                                "properties": {
                                                    "createdDate": {
                                                        "description": "The date that the bot was created.",
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "description": {
                                                        "description": "A description of the bot.",
                                                        "maxLength": 200,
                                                        "minLength": 0,
                                                        "type": "string"
                                                    },
                                                    "lastUpdatedDate": {
                                                        "description": "The date that the bot was updated. When you create a bot, the creation date and last updated date are the same. ",
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "description": "The name of the bot. ",
                                                        "maxLength": 50,
                                                        "minLength": 2,
                                                        "pattern": "^([A-Za-z]_?)+$",
                                                        "type": "string"
                                                    },
                                                    "status": {
                                                        "description": "The status of the bot.",
                                                        "enum": [
                                                            "BUILDING",
                                                            "READY",
                                                            "READY_BASIC_TESTING",
                                                            "FAILED",
                                                            "NOT_BUILT"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "version": {
                                                        "description": "The version of the bot. For a new bot, the version is always <code>$LATEST</code>.",
                                                        "maxLength": 64,
                                                        "minLength": 1,
                                                        "pattern": "\\$LATEST|[0-9]+",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "nextToken": {
                                            "description": "If the response is truncated, it includes a pagination token that you can specify in your next request to fetch the next page of bots. ",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "NotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "LimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InternalFailureException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "example": {
                                    "maxResults": 5,
                                    "nextToken": ""
                                },
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/bots/{botName}/aliases/": {
            "get": {
                "description": "<p>Returns a list of aliases for a specified Amazon Lex bot.</p> <p>This operation requires permissions for the <code>lex:GetBotAliases</code> action.</p>",
                "operationId": "GetBotAliases",
                "parameters": [
                    {
                        "description": "Pagination limit",
                        "in": "query",
                        "name": "maxResults",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Pagination token",
                        "in": "query",
                        "name": "nextToken",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "botName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "BotAliases": {
                                            "description": "An array of <code>BotAliasMetadata</code> objects, each describing a bot alias.",
                                            "items": {
                                                "description": "Provides information about a bot alias.",
                                                "properties": {
                                                    "botName": {
                                                        "description": "The name of the bot to which the alias points.",
                                                        "maxLength": 50,
                                                        "minLength": 2,
                                                        "pattern": "^([A-Za-z]_?)+$",
                                                        "type": "string"
                                                    },
                                                    "botVersion": {
                                                        "description": "The version of the Amazon Lex bot to which the alias points.",
                                                        "maxLength": 64,
                                                        "minLength": 1,
                                                        "pattern": "\\$LATEST|[0-9]+",
                                                        "type": "string"
                                                    },
                                                    "checksum": {
                                                        "description": "Checksum of the bot alias.",
                                                        "type": "string"
                                                    },
                                                    "createdDate": {
                                                        "description": "The date that the bot alias was created.",
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "description": {
                                                        "description": "A description of the bot alias.",
                                                        "maxLength": 200,
                                                        "minLength": 0,
                                                        "type": "string"
                                                    },
                                                    "lastUpdatedDate": {
                                                        "description": "The date that the bot alias was updated. When you create a resource, the creation date and last updated date are the same.",
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "description": "The name of the bot alias.",
                                                        "maxLength": 100,
                                                        "minLength": 1,
                                                        "pattern": "^([A-Za-z]_?)+$",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "nextToken": {
                                            "description": "A pagination token for fetching next page of aliases. If the response to this call is truncated, Amazon Lex returns a pagination token in the response. To fetch the next page of aliases, specify the pagination token in the next request. ",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "LimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InternalFailureException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/bots/{botName}/aliases/{aliasName}/channels/": {
            "get": {
                "description": "<p> Returns a list of all of the channels associated with the specified bot. </p> <p>The <code>GetBotChannelAssociations</code> operation requires permissions for the <code>lex:GetBotChannelAssociations</code> action.</p>",
                "operationId": "GetBotChannelAssociations",
                "parameters": [
                    {
                        "description": "Pagination limit",
                        "in": "query",
                        "name": "maxResults",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Pagination token",
                        "in": "query",
                        "name": "nextToken",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "botName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "aliasName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "botChannelAssociations": {
                                            "description": "An array of objects, one for each association, that provides information about the Amazon Lex bot and its association with the channel. ",
                                            "items": {
                                                "description": "Represents an association between an Amazon Lex bot and an external messaging platform.",
                                                "properties": {
                                                    "botAlias": {
                                                        "description": "An alias pointing to the specific version of the Amazon Lex bot to which this association is being made. ",
                                                        "maxLength": 100,
                                                        "minLength": 1,
                                                        "pattern": "^([A-Za-z]_?)+$",
                                                        "type": "string"
                                                    },
                                                    "botConfiguration": {
                                                        "description": "Provides information necessary to communicate with the messaging platform. ",
                                                        "items": {
                                                            "properties": {
                                                                "key": {
                                                                    "type": "string"
                                                                },
                                                                "value": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "maxItems": 10,
                                                        "minItems": 1,
                                                        "type": "array"
                                                    },
                                                    "botName": {
                                                        "description": "<p>The name of the Amazon Lex bot to which this association is being made. </p> <note> <p>Currently, Amazon Lex supports associations with Facebook and Slack, and Twilio.</p> </note>",
                                                        "maxLength": 50,
                                                        "minLength": 2,
                                                        "pattern": "^([A-Za-z]_?)+$",
                                                        "type": "string"
                                                    },
                                                    "createdDate": {
                                                        "description": "The date that the association between the Amazon Lex bot and the channel was created. ",
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "description": {
                                                        "description": "A text description of the association you are creating. ",
                                                        "maxLength": 200,
                                                        "minLength": 0,
                                                        "type": "string"
                                                    },
                                                    "failureReason": {
                                                        "description": "If <code>status</code> is <code>FAILED</code>, Amazon Lex provides the reason that it failed to create the association.",
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "description": "The name of the association between the bot and the channel. ",
                                                        "maxLength": 100,
                                                        "minLength": 1,
                                                        "pattern": "^([A-Za-z]_?)+$",
                                                        "type": "string"
                                                    },
                                                    "status": {
                                                        "description": "<p>The status of the bot channel. </p> <ul> <li> <p> <code>CREATED</code> - The channel has been created and is ready for use.</p> </li> <li> <p> <code>IN_PROGRESS</code> - Channel creation is in progress.</p> </li> <li> <p> <code>FAILED</code> - There was an error creating the channel. For information about the reason for the failure, see the <code>failureReason</code> field.</p> </li> </ul>",
                                                        "enum": [
                                                            "IN_PROGRESS",
                                                            "CREATED",
                                                            "FAILED"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "type": {
                                                        "description": "Specifies the type of association by indicating the type of channel being established between the Amazon Lex bot and the external messaging platform.",
                                                        "enum": [
                                                            "Facebook",
                                                            "Slack",
                                                            "Twilio-Sms",
                                                            "Kik"
                                                        ],
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "nextToken": {
                                            "description": "A pagination token that fetches the next page of associations. If the response to this call is truncated, Amazon Lex returns a pagination token in the response. To fetch the next page of associations, specify the pagination token in the next request. ",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "LimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InternalFailureException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/bots/{botName}/aliases/{aliasName}/channels/{name}": {
            "delete": {
                "description": "<p>Deletes the association between an Amazon Lex bot and a messaging platform.</p> <p>This operation requires permission for the <code>lex:DeleteBotChannelAssociation</code> action.</p>",
                "operationId": "DeleteBotChannelAssociation",
                "parameters": [
                    {
                        "in": "path",
                        "name": "botName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "aliasName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "480": {
                        "description": "NotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ConflictException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "LimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "InternalFailureException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "get": {
                "description": "<p>Returns information about the association between an Amazon Lex bot and a messaging platform.</p> <p>This operation requires permissions for the <code>lex:GetBotChannelAssociation</code> action.</p>",
                "operationId": "GetBotChannelAssociation",
                "parameters": [
                    {
                        "in": "path",
                        "name": "botName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "aliasName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "botAlias": {
                                            "description": "An alias pointing to the specific version of the Amazon Lex bot to which this association is being made.",
                                            "maxLength": 100,
                                            "minLength": 1,
                                            "pattern": "^([A-Za-z]_?)+$",
                                            "type": "string"
                                        },
                                        "botConfiguration": {
                                            "description": "Provides information that the messaging platform needs to communicate with the Amazon Lex bot.",
                                            "items": {
                                                "properties": {
                                                    "key": {
                                                        "type": "string"
                                                    },
                                                    "value": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "maxItems": 10,
                                            "minItems": 1,
                                            "type": "array"
                                        },
                                        "botName": {
                                            "description": "The name of the Amazon Lex bot.",
                                            "maxLength": 50,
                                            "minLength": 2,
                                            "pattern": "^([A-Za-z]_?)+$",
                                            "type": "string"
                                        },
                                        "createdDate": {
                                            "description": "The date that the association between the bot and the channel was created.",
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "description": {
                                            "description": "A description of the association between the bot and the channel.",
                                            "maxLength": 200,
                                            "minLength": 0,
                                            "type": "string"
                                        },
                                        "failureReason": {
                                            "description": "If <code>status</code> is <code>FAILED</code>, Amazon Lex provides the reason that it failed to create the association.",
                                            "type": "string"
                                        },
                                        "name": {
                                            "description": "The name of the association between the bot and the channel.",
                                            "maxLength": 100,
                                            "minLength": 1,
                                            "pattern": "^([A-Za-z]_?)+$",
                                            "type": "string"
                                        },
                                        "status": {
                                            "description": "<p>The status of the bot channel. </p> <ul> <li> <p> <code>CREATED</code> - The channel has been created and is ready for use.</p> </li> <li> <p> <code>IN_PROGRESS</code> - Channel creation is in progress.</p> </li> <li> <p> <code>FAILED</code> - There was an error creating the channel. For information about the reason for the failure, see the <code>failureReason</code> field.</p> </li> </ul>",
                                            "enum": [
                                                "IN_PROGRESS",
                                                "CREATED",
                                                "FAILED"
                                            ],
                                            "type": "string"
                                        },
                                        "type": {
                                            "description": "The type of the messaging platform.",
                                            "enum": [
                                                "Facebook",
                                                "Slack",
                                                "Twilio-Sms",
                                                "Kik"
                                            ],
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "NotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "LimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InternalFailureException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/bots/{botName}/aliases/{name}": {
            "delete": {
                "description": "<p>Deletes an alias for the specified bot. </p> <p>You can't delete an alias that is used in the association between a bot and a messaging channel. If an alias is used in a channel association, the <code>DeleteBot</code> operation returns a <code>ResourceInUseException</code> exception that includes a reference to the channel association that refers to the bot. You can remove the reference to the alias by deleting the channel association. If you get the same exception again, delete the referring association until the <code>DeleteBotAlias</code> operation is successful.</p>",
                "operationId": "DeleteBotAlias",
                "parameters": [
                    {
                        "in": "path",
                        "name": "botName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "480": {
                        "description": "NotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ConflictException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "LimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "InternalFailureException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "ResourceInUseException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "get": {
                "description": "<p>Returns information about an Amazon Lex bot alias. For more information about aliases, see <a>versioning-aliases</a>.</p> <p>This operation requires permissions for the <code>lex:GetBotAlias</code> action.</p>",
                "operationId": "GetBotAlias",
                "parameters": [
                    {
                        "in": "path",
                        "name": "botName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "botName": {
                                            "description": "The name of the bot that the alias points to.",
                                            "maxLength": 50,
                                            "minLength": 2,
                                            "pattern": "^([A-Za-z]_?)+$",
                                            "type": "string"
                                        },
                                        "botVersion": {
                                            "description": "The version of the bot that the alias points to.",
                                            "maxLength": 64,
                                            "minLength": 1,
                                            "pattern": "\\$LATEST|[0-9]+",
                                            "type": "string"
                                        },
                                        "checksum": {
                                            "description": "Checksum of the bot alias.",
                                            "type": "string"
                                        },
                                        "createdDate": {
                                            "description": "The date that the bot alias was created.",
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "description": {
                                            "description": "A description of the bot alias.",
                                            "maxLength": 200,
                                            "minLength": 0,
                                            "type": "string"
                                        },
                                        "lastUpdatedDate": {
                                            "description": "The date that the bot alias was updated. When you create a resource, the creation date and the last updated date are the same.",
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "name": {
                                            "description": "The name of the bot alias.",
                                            "maxLength": 100,
                                            "minLength": 1,
                                            "pattern": "^([A-Za-z]_?)+$",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "NotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "LimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InternalFailureException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "put": {
                "description": "<p>Creates an alias for the specified version of the bot or replaces an alias for the specified bot. To change the version of the bot that the alias points to, replace the alias. For more information about aliases, see <a>versioning-aliases</a>.</p> <p>This operation requires permissions for the <code>lex:PutBotAlias</code> action. </p>",
                "operationId": "PutBotAlias",
                "parameters": [
                    {
                        "in": "path",
                        "name": "botName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "botName": {
                                            "description": "The name of the bot that the alias points to.",
                                            "maxLength": 50,
                                            "minLength": 2,
                                            "pattern": "^([A-Za-z]_?)+$",
                                            "type": "string"
                                        },
                                        "botVersion": {
                                            "description": "The version of the bot that the alias points to.",
                                            "maxLength": 64,
                                            "minLength": 1,
                                            "pattern": "\\$LATEST|[0-9]+",
                                            "type": "string"
                                        },
                                        "checksum": {
                                            "description": "The checksum for the current version of the alias.",
                                            "type": "string"
                                        },
                                        "createdDate": {
                                            "description": "The date that the bot alias was created.",
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "description": {
                                            "description": "A description of the alias.",
                                            "maxLength": 200,
                                            "minLength": 0,
                                            "type": "string"
                                        },
                                        "lastUpdatedDate": {
                                            "description": "The date that the bot alias was updated. When you create a resource, the creation date and the last updated date are the same.",
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "name": {
                                            "description": "The name of the alias.",
                                            "maxLength": 100,
                                            "minLength": 1,
                                            "pattern": "^([A-Za-z]_?)+$",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ConflictException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "LimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InternalFailureException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "PreconditionFailedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "botVersion": {
                                        "description": "The version of the bot.",
                                        "maxLength": 64,
                                        "minLength": 1,
                                        "pattern": "\\$LATEST|[0-9]+",
                                        "type": "string"
                                    },
                                    "checksum": {
                                        "description": "<p>Identifies a specific revision of the <code>$LATEST</code> version.</p> <p>When you create a new bot alias, leave the <code>checksum</code> field blank. If you specify a checksum you get a <code>BadRequestException</code> exception.</p> <p>When you want to update a bot alias, set the <code>checksum</code> field to the checksum of the most recent revision of the <code>$LATEST</code> version. If you don't specify the <code> checksum</code> field, or if the checksum does not match the <code>$LATEST</code> version, you get a <code>PreconditionFailedException</code> exception.</p>",
                                        "type": "string"
                                    },
                                    "description": {
                                        "description": "A description of the alias.",
                                        "maxLength": 200,
                                        "minLength": 0,
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "botVersion"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/bots/{botName}/utterances/{userId}": {
            "delete": {
                "description": "<p>Deletes stored utterances.</p> <p>Amazon Lex stores the utterances that users send to your bot. Utterances are stored for 15 days for use with the <a>GetUtterancesView</a> operation, and then stored indefinitely for use in improving the ability of your bot to respond to user input.</p> <p>Use the <code>DeleteStoredUtterances</code> operation to manually delete stored utterances for a specific user.</p> <p>This operation requires permissions for the <code>lex:DeleteUtterances</code> action.</p>",
                "operationId": "DeleteUtterances",
                "parameters": [
                    {
                        "in": "path",
                        "name": "botName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "path",
                        "name": "userId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "480": {
                        "description": "NotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "LimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InternalFailureException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/bots/{botname}/utterances": {
            "get": {
                "description": "<p>Use the <code>GetUtterancesView</code> operation to get information about the utterances that your users have made to your bot. You can use this list to tune the utterances that your bot responds to.</p> <p>For example, say that you have created a bot to order flowers. After your users have used your bot for a while, use the <code>GetUtterancesView</code> operation to see the requests that they have made and whether they have been successful. You might find that the utterance \"I want flowers\" is not being recognized. You could add this utterance to the <code>OrderFlowers</code> intent so that your bot recognizes that utterance.</p> <p>After you publish a new version of a bot, you can get information about the old version and the new so that you can compare the performance across the two versions. </p> <note> <p>Utterance statistics are generated once a day. Data is available for the last 15 days. You can request information for up to 5 versions in each request. The response contains information about a maximum of 100 utterances for each version.</p> </note> <p>This operation requires permissions for the <code>lex:GetUtterancesView</code> action.</p>",
                "operationId": "GetUtterancesView",
                "parameters": [
                    {
                        "in": "query",
                        "name": "view",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "aggregation"
                            ]
                        }
                    },
                    {
                        "in": "path",
                        "name": "botname",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "botName": {
                                            "description": "The name of the bot for which utterance information was returned.",
                                            "maxLength": 50,
                                            "minLength": 2,
                                            "pattern": "^([A-Za-z]_?)+$",
                                            "type": "string"
                                        },
                                        "utterances": {
                                            "description": "An array of <a>UtteranceList</a> objects, each containing a list of <a>UtteranceData</a> objects describing the utterances that were processed by your bot. The response contains a maximum of 100 <code>UtteranceData</code> objects for each version.",
                                            "items": {
                                                "description": "Provides a list of utterances that have been made to a specific version of your bot. The list contains a maximum of 100 utterances.",
                                                "properties": {
                                                    "botVersion": {
                                                        "description": "The version of the bot that processed the list.",
                                                        "maxLength": 64,
                                                        "minLength": 1,
                                                        "pattern": "\\$LATEST|[0-9]+",
                                                        "type": "string"
                                                    },
                                                    "utterances": {
                                                        "description": "One or more <a>UtteranceData</a> objects that contain information about the utterances that have been made to a bot. The maximum number of object is 100.",
                                                        "items": {
                                                            "description": "Provides information about a single utterance that was made to your bot. ",
                                                            "properties": {
                                                                "count": {
                                                                    "description": "The number of times that the utterance was processed.",
                                                                    "type": "integer"
                                                                },
                                                                "distinctUsers": {
                                                                    "description": "The total number of individuals that used the utterance.",
                                                                    "type": "integer"
                                                                },
                                                                "firstUtteredDate": {
                                                                    "description": "The date that the utterance was first recorded.",
                                                                    "format": "date-time",
                                                                    "type": "string"
                                                                },
                                                                "lastUtteredDate": {
                                                                    "description": "The date that the utterance was last recorded.",
                                                                    "format": "date-time",
                                                                    "type": "string"
                                                                },
                                                                "utteranceString": {
                                                                    "description": "The text that was entered by the user or the text representation of an audio clip.",
                                                                    "maxLength": 2000,
                                                                    "minLength": 1,
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "LimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InternalFailureException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/bots/{name}": {
            "delete": {
                "description": "<p>Deletes all versions of the bot, including the <code>$LATEST</code> version. To delete a specific version of the bot, use the <a>DeleteBotVersion</a> operation.</p> <p>If a bot has an alias, you can't delete it. Instead, the <code>DeleteBot</code> operation returns a <code>ResourceInUseException</code> exception that includes a reference to the alias that refers to the bot. To remove the reference to the bot, delete the alias. If you get the same exception again, delete the referring alias until the <code>DeleteBot</code> operation is successful.</p> <p>This operation requires permissions for the <code>lex:DeleteBot</code> action.</p>",
                "operationId": "DeleteBot",
                "parameters": [
                    {
                        "in": "path",
                        "name": "name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "480": {
                        "description": "NotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ConflictException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "LimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "InternalFailureException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "BadRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "ResourceInUseException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {},
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            },
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/bots/{name}/versions": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Creates a new version of the bot based on the <code>$LATEST</code> version. If the <code>$LATEST</code> version of this resource hasn't changed since you created the last version, Amazon Lex doesn't create a new version. It returns the last created version.</p> <note> <p>You can update only the <code>$LATEST</code> version of the bot. You can't update the numbered versions that you create with the <code>CreateBotVersion</code> operation.</p> </note> <p> When you create the first version of a bot, Amazon Lex sets the version to 1. Subsequent versions increment by 1. For more information, see <a>versioning-intro</a>. </p> <p> This operation requires permission for the <code>lex:CreateBotVersion</code> action. </p>",
                "operationId": "CreateBotVersion",
                "parameters": [
                    {
                        "in": "path",
                        "name": "name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "abortStatement": {
                                            "description": "The message that Amazon Lex uses to abort a conversation. For more information, see <a>PutBot</a>.",
                                            "properties": {
                                                "messages": {
                                                    "description": "A collection of message objects.",
                                                    "items": {
                                                        "description": "The message object that provides the message text and its type.",
                                                        "properties": {
                                                            "content": {
                                                                "description": "The text of the message.",
                                                                "maxLength": 1000,
                                                                "minLength": 1,
                                                                "type": "string"
                                                            },
                                                            "contentType": {
                                                                "description": "The content type of the message string.",
                                                                "enum": [
                                                                    "PlainText",
                                                                    "SSML",
                                                                    "CustomPayload"
                                                                ],
                                                                "type": "string"
                                                            },
                                                            "groupNumber": {
                                                                "description": "Identifies the message group that the message belongs to. When a group is assigned to a message, Amazon Lex returns one message from each group in the response.",
                                                                "maximum": 5,
                                                                "minimum": 1,
                                                                "type": "integer"
                                                            }
                                                        },
                                                        "required": [
                                                            "contentType",
                                                            "content"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "maxItems": 15,
                                                    "minItems": 1,
                                                    "type": "array"
                                                },
                                                "responseCard": {
[...]
